<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>



<section>
    <div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
        <div class="card-header" class="card-lead"><%= lead.name %></div>
        <div class="card-body">
          <h5 class="card-title">Lead created by <%= lead.owner.name %></h5>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
          <p class="card-text"></p>
        </div>
      </div>
</section>



<%- include('../partials/footer') %>