<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
      <div class="card-header" id="card-lead"><%= lead.name %></div>
      <div class="card-body">
        <h5 class="card-title">Lead created by <strong><%= lead.owner.name %>  </strong><i class="fa-solid fa-check"></i></h5>
        <p class="card-text"><i class="fa-solid fa-phone"></i> Phone: <%= lead.phone %></p>
        <p class="card-text"><i class="fa-solid fa-at"></i> eMail: <%= lead.email %></p>
        <p class="card-text"><i class="fa-solid fa-location-crosshairs"></i> Lead Status: <%= lead.lead ? "is a lead ðŸ‘" : "is not a lead ðŸ‘Ž" %></p>
        <p class="card-text"><i class="fa-brands fa-linkedin"></i>  LinkedIn: <a href="https://www.linkedin.com/in/<%= lead.linkedin %> "><%= lead.linkedin %></a></p>
        <p class="card-text"><i class="fa-solid fa-calendar-week"></i> Last Touch: <%= lead.lastTouch %></p>
        <p class="card-text"><i class="fa-solid fa-note-sticky"></i> Notes: <%= lead.notes %></p>
      </div>
    </div>
    <% if (user) { %>
      <form 
        action="/leads/<%= lead._id %>/flipstatus?_method=PATCH" 
        method="POST"
      >
        <button class="btn btn-warning" type="submit">
          <i class="fa-solid fa-person"></i>
          Change Lead Status
        </button>
      </form>
    <% } %>
    <% if (lead.owner.equals(user?.profile._id)) { %>
      <form 
        action="/leads/<%= lead._id %>/edit" 
        method="GET"
      >
        <button class="btn btn-dark">Edit Lead</button>
      </form>
      <form action="/leads/<%= lead._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Delete</button>
      </form>
    <% } %>

    <h2>Products</h2>
  <form 
    id="add-product-form"
    action="/leads/<%= lead._id %>/products"
    method="POST"
  >
    <label for="name">Product: </label>
    <input  type="text" name="name">
    <label for="price">Price:</label>
    <input type="text" name="price">
    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
  <% if (lead.products.length) { %>
    <div id="product-table">
      <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>  $ Price</th>
        </tr>
      </thead>
      <tbody>
        <% lead.products.forEach(function(product) { %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Products Created</h3>
  <% } %>
    </div>
    


</section>

<%- include('../partials/footer') %>